{% extends "layout.html" %}
{% block title %}Ask a questions{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <p>
    <h1>Ask a question</h1>
    </p>
    <form action="/add-question" method=POST >
        <p>
        <label for="question-title">Question Title:</label><br>
            <input type="text" id="question-title" name="title" required><br>
        </p>
        <p>
        <label for="add-message">Message</label><br>
        <textarea id="add-message" name="message" rows="4" cols="80" required></textarea><br>
        </p>
        <input type="submit" value="Add your new question">
    </form>
        <form action="/">
            <input type="submit" value="Cancel">
        </form>
        <br>
{% endblock %}
