{% extends "layout.html" %}
{% block title %}Ask a questions{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="add-form">
    <form action="/add-question" method=POST >
        <p>
        <label for="question-title" class="comment-label">Question title:</label><br>
            <br>
            <input type="text" class="question-title" name="title" required><br>
        </p>
        <p>
        <label for="add-message" class="comment-label">My problem:</label><br>
            <br>

        <textarea id="add-message" name="message" rows="6" cols="50" required></textarea><br>
        </p>
        <p>
        <label for="add-image" class="comment-label">Place here the URL, if you want to add an image:</label><br>
            <br>
        <textarea id="add-image" name="image" rows="1" cols="50" ></textarea><br>
        </p>
        <div class="format-button-div">
            <input class="format-button" type="submit" value="Submit">
        </div>
    </form>
    </div>
    <br>
{% endblock %}