{% extends "layout.html" %}
{% block title %}Comment to question{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="div-table">
    <table class="question-table" id="comment-add">
        <tbody>
            <tr class="list-elements">
                <td class="comment-vote">{{ question['vote_number'] }} <br>votes</td>
                <td class="comment-view">{{ question['view_number'] }} <br>views</td>
                <td class="comment-title">{{ question['message'] }}<p class="comment-time">
                    {{ question['submission_time'] }}</p>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="comment-form">
    <form action="/question/{{ question.id }}/new-comment" method=POST >
        <input type="hidden" value="{{ question.id }}" name="question_id">
        <p>
        <label for="comment-message" class="comment-label">Your comment:</label><br>
            <br>
            <textarea class="comment-message" name="comment-message" rows="6" cols="50" required></textarea><br>
        </p>
        <div class="format-button-div">
            <input class="format-button" type="submit" value="Submit">
        </div>
    </form>
    </div>
    <br>

{% endblock %}