{% extends "layout.html" %}
{% block title %}Comment to question{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <table id="list-table">
        <tbody>
            <tr id="list-elements">
                <td id="list-vote">{{ question['vote_number'] }} <br>votes</td>
                <td id="list-view">{{ question['view_number'] }} <br>views</td>
                <td id="list-title">{{ question['message'] }}<p id="list-time">
                    {{ question['submission_time'] }}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <form action="/question/{{ question.id }}/new-comment" method=POST >
        <input type="hidden" value="{{ question.id }}" name="question_id">
        <p>
        <label for="comment-message">Comment:</label><br>
            <br>
            <textarea id="comment-message" name="comment-message" rows="6" cols="50" required></textarea><br>
        </p>
        <input type="submit" value="Add your comment">
    </form>
    <br>
        <p>
        <form action="/question/{{ question.id }}" method="GET">
            <input type="submit" value="Go back">
        </form>
        </p>
{% endblock %}