<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit question</title>
    </head>
        <body>
            <h1>Edit question</h1>
            <form action="/question/<question_id>/edit" method=POST >

                <label for="question-title">Question Title:</label><br>
                <input type="text" id="question-title" name="title" required><br>

                <label for="add-message">Message</label><br>
                <textarea id="add-message" name="message" rows="4" cols="80" required></textarea><br>

                <button type="submit">Edit Question</button><br>

            </form>

        </body>
</html>