{% extends "layout.html" %}
{% block title %}Edit comment{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h1>Edit this answer!</h1>
    <form action="/comment/{{ comment.id }}/edit" method=POST>
        <input type="hidden" value="{{ comment.id }}" name="answer_id">
        <input type="hidden" value="{{ comment.question_id }}" name="question_id">

        <label for="add-message">Message:</label><br>
        <br>
        <textarea id="add-message" name="message" rows="6" cols="40" required>{{ comment["message"] }}</textarea><br>
        <br>

        <button type="submit">Done</button>
    </form>

    <p></p>
    <form action="/question/{{ question_id }}" method="GET">
        <input type="submit" value="Go back">
    </form>
{% endblock %}
