{% extends "layout.html" %}
{% block title %}Edit answer{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="add-form">
    <form action="/answer/{{ answer.id }}/edit" method=POST>
        <input type="hidden" value="{{ answer.id }}" name="answer_id">
        <input type="hidden" value="{{ answer.question_id }}" name="question_id">

        <label for="add-message" class="comment-label">Answer message:</label><br>
        <br>
        <textarea id="add-message" name="message" rows="6" cols="40" required>{{ answer["message"] }}</textarea><br>
        <br>
        <label for="add-image" class="comment-label">Place here new URL, if you want to replace image:</label><br>
            <br>
        <textarea id="add-image" name="image" rows="1" cols="50">{{ answer["image"] }}</textarea>
        <br>
        <br>
        <div class="format-button-div">
            <input class="format-button" type="submit" value="Submit">
        </div>
    </form>
    </div>
{% endblock %}
