<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <title>{% block title %}{% endblock %} | AskMate </title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="topnav">
        <img id="logo" src="{{ url_for('static', filename='logo.png') }}">
        <a class="active" href="/">Home</a>
        <form action="{{ url_for('search_question') }}" method="POST" id="search-form">
             <input id="search" name="search_text" rows="1" cols="150" placeholder="Please specify what you want to search">
                <input type="submit" value="🔍" id="search-glass"/>
        </form>
        {% if type %}
        <a href="{{ url_for('route_add') }}" type="submit">Ask a question</a>
        <a href="{{ url_for('list_users') }}" type="submit">List users</a>
        {% endif %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>

