{% extends "layout.html" %}
{% block title %}Questions{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <br>
    <br>
    <table>

        <tbody>
        {% for question in questions %}
            <tr>
                {% for header in headers %}
                    <td>
                        {% if header == 'title' %}
                            <a href="/question/{{ question['id'] }}">{{ question[header] }}</a><br>
                            {{ question['submission_time'] }}
                        {% elif header == 'vote_number' %}
                            {{ question[header] }} <br>votes
                        {% elif header == 'view_number' %}
                            {{ question[header] }} <br>views
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {%  if type == 'limit_5'%}
    <form action="{{ url_for('route_list') }}">
        <input type="submit" value="Show all questions"/>
    </form>
    {% endif %}

{% endblock %}