{% extends "layout.html" %}
{% block title %}Questions{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <br>
    <br>

    <table id="list-table">
        <tbody>
        {% for question in questions %}
            <tr id="list-elements">
                <td id="list-vote">{{ question['vote_number'] }} <br>votes</td>
                <td id="list-view">{{ question['view_number'] }} <br>views</td>
                <td id="list-title"><a id="list-link" href="/question/{{ question['id'] }}">{{ question['title'] }}</a><p id="list-time">
                    {{ question['submission_time'] }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {%  if type == 'limit_5'%}
    <form action="{{ url_for('route_list') }}">
        <input type="submit" value="Show all questions"/>
    </form>
    {% endif %}

{% endblock %}