{% extends "layout.html" %}
{% block title %}List users{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <br>
    <br>

    <table class="list-table">
        <tbody>
            <tr>
                <td class="users-table-head"> ID</td>
                <td class="users-table-head"> Username</td>
                <td class="users-table-head"> Creation date</td>
            </tr>
        {% for user in users %}
            <tr>
                <td class="users-table"> {{ user['user_id'] }} </td>
                <td class="users-table"> {{ user['username'] }} </td>
                <td class="users-table"> {{ user['creation_date'] }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}