{% extends "layout.html" %}
{% block title %}Post an answer{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    {% for header in answer_headers %}
            <th>
                {{ header|replace("_", " ")|title }}
            </th>
    {% endfor %}
    <div class="add-form">
    <form action="/question/{{ question.id }}/new-answer" method=POST >
        <input type="hidden" value="{{ question.id }}" name="question_id">
        <p>
        <label for="answer-message" class="comment-label">Solution:</label><br>
            <br>
            <textarea id="answer-message" name="answer-message" rows="6" cols="50" required></textarea><br>
        </p>
        <p>
        <label for="add-image" class="comment-label">Place here the URL, if you want to add an image:</label><br>
            <br>
        <textarea id="add-image" name="image" rows="1" cols="50" ></textarea><br>
        <div class="format-button-div">
            <input class="format-button" type="submit" value="Submit">
        </div>
    </form>
    </div>
{% endblock %}