{% extends "layout.html" %}
{% block title %}Post a comment{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="div-table">
    <table class="comment-table" id="answer-comment-table">
        <tbody>
            <tr class="comment-elements" id="answer-comment">
                <td class="comment-vote">{{ answer['vote_number'] }} <br>votes</td>
                <td class="comment-title">{{ answer['message'] }}<p class="comment-time">
                    {{ answer['submission_time'] }}</p>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <br>
    <div class="comment-form">
    <form action="/answer/{{ answer.id }}/new-comment" method=POST >
        <input type="hidden" value="{{ answer.id }}" name="answer_id">
        <input type="hidden" value="{{ answer.question_id }}" name="question_id">

        <label for="comment-message" class="comment-label">Your comment:</label><br>
            <br>
            <textarea class="comment-message" name="comment-message" rows="6" cols="50" required></textarea><br>
        </p>
        <div class="format-button-div">
        <input class="format-button" type="submit" value="Submit">
        </div>
    </form>
    </div>

{% endblock %}

