{% extends "layout.html" %}
{% block title %}Question{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>
    Question
</h1>
<table>
    <thead>
       <tr>
           {% for header in question_headers %}
            <th>
                {{header|replace("_", " ")|title}}
            </th>
           {% endfor %}
       </tr>
    </thead>
    <tbody>
        <tr>
            {% for header in question_headers %}
                <td>
                    {% if header == 'image'%}
                    <img src="{{ question[image] }}" alt="A nice image" width="50" height="50">
                    {% else %}
                        {{question[header]}}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
<h1>
    Answers
</h1>
<table>
    <thead>
       <tr>
           {% for header in answer_headers %}
            <th>
                {{header|replace("_", " ")|title}}
            </th>
           {% endfor %}
       </tr>
    </thead>
    <tbody>
        <tr>
            {% for header in answer_headers %}
                <td>
                    {% if header == 'image'%}
                    <img src="{{ question[image] }}" alt="A nice image" width="50" height="50">
                    {% else %}
                        {{question[header]}}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}