{% extends "layout.html" %}
{% block title %}Sign up{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <div class="registration-form">
    <form action="/registration" method=POST >
        <p>
        <label for="username" class="username">Username:</label><br>
            <br>
            <input type="text" class="username" name="username" required value="{{ username }}">
            <div class="error-message">{% if username %}This username already exists{% endif %}</div><br>
        </p>
        <p>
        <label for="password" class="password">Password:</label><br>
            <br>
        <input type="password" class="password" name="password" required><br>
        </p>
        <div class="registration-button-div">
            <input class="registration-button" type="submit" value="Sign up">
        </div>
    </form>
    </div>
    <br>
{% endblock %}