{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <p><h1 align="center">Search Result</h1></p>
    <br>
    <table id="list-table">
        <tbody>
            {% for question in questions %}
            <tr id="list-elements">
                <td id="list-vote">{{ question['vote_number'] }} <br>votes</td>
                <td id="list-view">{{ question['view_number'] }} <br>views</td>
                <td id="list-title">{{ question['message'] }}<p id="list-time">
                    {{ question['submission_time'] }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="/">
        <input type="submit" value="Go back to Questions"/>
    </form>

{% endblock %}