{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <br>
    <table class="list-table">
        <tbody>
            {% for question in questions %}
            <tr class="list-elements">
                <td class="list-vote">{{ question['vote_number'] }} <br>votes</td>
                <td class="list-view">{{ question['view_number'] }} <br>views</td>
                <td class="list-title"><a class="list-link" href="/question/{{ question['id'] }}">{{ question['title'] }}</a>
                    <p class="list-time">
                    {{ question['submission_time'] }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

{% endblock %}