{% extends "layout.html" %}
{% block title %}Search{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <p><h1 align="center">Search Result</h1></p>
    <br>
    <table>
        <thead>
        <tr>
            {% for header in headers %}
                <th> {{ header|replace("_", " ")|title }} </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for question in question %}
            <tr>
                {% for header in headers %}
                    <td>
                        {% if header == 'title' %}
                            <a href="/question/{{ question['id'] }}">{{ question[header] }}</a>
                        {% else %}
                            {{ question[header] }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="/">
        <input type="submit" value="Go back to Questions"/>
    </form>

{% endblock %}